body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 204, 229); /* Light pink background */
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  padding: 10px;
  font-weight: bold;
  color: rgb(197, 52, 97); /* Dark pink for labels */
}

input {
  margin-left: 10px;
  font-size: 15px;
  width: 95%;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 230, 242); /* Light pink input background */
  color: rgb(197, 52, 97); /* Dark pink text */
}